Nivel Difícil/Salida estructurada.json
{
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1763d69f-e493-4629-92b1-db5efa285bf0",
                "name": "resumen",
                "value": "={{ $json.output[0].content[0].text.resumen }}",
                "type": "string"
              },
              {
                "id": "3abf7d7a-05d1-4886-9875-f333521529d8",
                "name": "categoria",
                "value": "={{ $json.output[0].content[0].text.categoria }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          752,
          0
        ],
        "id": "f2b28851-78ee-43f2-aa79-7957b2ef3a7c",
        "name": "Edit Fields"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          944,
          0
        ],
        "id": "fc69caa8-d83e-4da7-85f7-47281d08f808",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "GPT-4O-MINI"
          },
          "responses": {
            "values": [
              {
                "content": "=Analiza la siguiente noticia y responde en el formato JSON indicado:\n\nTítulo: {{$json.title}}\n\nContenido: {{$json.body}}\n\nClasifica el sentimiento y la categoría."
              },
              {
                "role": "system",
                "content": "Eres un asistente que SOLO responde en JSON válido.\n\nReglas:\n- NO escribas texto fuera del JSON\n- NO expliques nada\n- NO uses comillas incorrectas\n- El JSON debe ser válido y parseable\n\nEstructura obligatoria:\n\n{\n  \"titulo\": \"\",\n  \"resumen\": \"\",\n  \"sentimiento\": \"\",\n  \"categoria\": \"\"\n}"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "textFormat": {
              "textOptions": {
                "type": "json_schema",
                "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"titulo\": { \"type\": \"string\" },\n    \"resumen\": { \"type\": \"string\" },\n    \"sentimiento\": { \"type\": \"string\" },\n    \"categoria\": { \"type\": \"string\" }\n  },\n  \"required\": [\"titulo\", \"resumen\", \"sentimiento\", \"categoria\"],\n  \"additionalProperties\": false\n}"
              }
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          400,
          0
        ],
        "id": "929bab53-5250-409a-b115-6ab400516e85",
        "name": "Message a model",
        "credentials": {
          "openAiApi": {
            "id": "5GzthEmzW0zrjCZn",
            "name": "n8n free OpenAI API credits"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://dummyjson.com/posts/{{ Math.floor(Math.random() * 150) + 1 }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          208,
          0
        ],
        "id": "626382f7-cde4-444d-80be-ddefdb667603",
        "name": "HTTP Request"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "ec84c15d-24e0-4991-bc38-5451943018f4",
        "name": "When clicking ‘Execute workflow’"
      }
    ],
    "connections": {
      "Edit Fields": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Message a model",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "e8fa43e9ff3b2d45481591194f99da422557d7548564644772dffe7b5e275411"
    }
  }